<div id="header">Modern Movies</div>


<div class="tweets">
  <h1>Tweet New Movies</h1>
<div id="tweet"></div>
     <% Tweet.retrieve.each do |tweet| %> <br/>
      <%= link_to(image_tag(tweet.user.profile_image_url),"http://twitter.com/#{tweet.user.screen_name}") %>
  <%= tweet.text %>
<% end %>
</div>

<div class="nytimesmovies">
  <h1>New York Times Movie Reviews</h1>
  <div id="york"></div>
  <% York.retrieve.each do |nytimesmovies| %>
      <%= link_to nytimesmovies.headline, nytimesmovies.link.url %><br/>
      <%= nytimesmovies.summary_short %> <br/><br/>
  <% end %>
</div>

<div class="instagram">
  <h1>Instagram New Movies</h1>
  <% Gram.retrieve.each do |instagram| %>
      <%= link_to image_tag(instagram.images.thumbnail.url), (instagram.link)%>
      <%#= instagram.caption.text %>
  <% end %>
</div>






